*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Tahoma;
    background:linear-gradient(-45deg,#000,#160022,#3b006b,#7a00c8,#280046,#000);
    background-size:600% 600%;
    animation:bgMove 24s ease infinite;
}

@keyframes bgMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.title{
    position:absolute;
    top:650px;
    left:50%;
    transform:translateX(-50%);
    color:#4B0082;
    font-size:100px;
    text-shadow:0 0 20px #bb66ff;
    z-index:20;
    opacity:0;
    animation:fadeTitle 2s forwards;
     font-family: "Comic Sans MS", cursive;
}
 

@keyframes fadeTitle{

to{
opacity:1;
}

}

.character-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
   margin-top:120px; /* فاصله از نوشته حدیث */
}


#hadis{

width:260px;
opacity:0;
animation:fadeGirl 2s forwards;
animation-delay:1s;
z-index:5;

}

@keyframes fadeGirl{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

#heart-ring{
position:absolute;
width:380px;
height:380px;
border-radius:50%;
z-index:2;
animation:rotate 18s linear infinite;
}

.heart{
position:absolute;
color:red;
font-size:24px;
filter:drop-shadow(0 0 8px red);
}

@keyframes rotate{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

.rain{
position:absolute;
top:-50px;
color:#ff69b4;
font-size:18px;
white-space:nowrap;
animation:fall linear forwards;
text-shadow:0 0 10px #ff69b4;
pointer-events:none;
}

@keyframes fall{
to{
transform:translateY(110vh);
opacity:0;
}
}

.particle{
position:absolute;
width:4px;
height:4px;
background:#b04cff;
border-radius:50%;
opacity:.5;
animation:float 10s linear infinite;
}

@keyframes float{
from{
transform:translateY(100vh);
opacity:0;
}
20%{
opacity:.6;
}
to{
transform:translateY(-20vh);
opacity:0;
}
}

@media(max-width:768px){

.title{
font-size:30px;
}

#hadis{
width:180px;
}

#heart-ring{
width:270px;
height:270px;
}

.heart{
font-size:18px;
}

}